body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

header {
    background: white;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.profile {
    max-width: 900px;
    margin: 60px auto;

    display: flex;
    align-items: center;
    gap: 40px;

    background: white;
    padding: 40px;
    border-radius: 12px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.profile img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.info h1 {
    margin: 0 0 10px;
}
.info p {
    color: #666;
    line-height: 1.6;
}
button {
    margin-top: 20px;
    background: #b53de5;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0,3s;
}
button:hover {
    background-color: #1adbbe;
}
.skills {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}
.skills h2 {
    margin-bottom: 20px;
}
.skills-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.skill {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-weight: bold;
}
.projects {
    margin-top: 80px;
}
.projects h2 {
    margin-bottom: 30px;
}
.projects-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: center;
}
.project-card h3 {
    margin-bottom: 10px;
}
.project-card p {
    margin-bottom: 15px;
    color: #555;
}
.project-card button,
.project-link {
    margin-top: 15px;
    display: inline-block;
    background-color: #2c7be5;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.project-link:hover {
    background: #1f5fb5;
}
